#toolbarViewerMiddle {
  -webkit-transform: unset !important;
  transform: unset !important;
  margin: unset;
  left: unset;
  position: unset;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
