<app-header
  *ngIf="template?.headerImgHero"
  [imgSrc]="template.headerImgHero"
  [headerTitle]="template.headerTitle"
  [headerText]="template.headerText"
  [headerInfo]="{ admin: admin, componentId: 'menu' }"
></app-header>

<div class="container" *ngIf="template && menu">
  <div
    *ngIf="template?.menuLinkText"
    id="menuLinkText"
    appEdit
    [editInfo]="{
      id: 'menuLinkText',
      admin: admin,
      componentId: 'menu',
      data: template.menuLinkText
    }"
    [innerHTML]="template.menuLinkText | safe: 'html'"
    (click)="goToMenu()"
  ></div>
  <div class="row">
    <div class="col-md-4 menu__border">
      <ul>
        <li *ngFor="let menuKey of menuKeys">
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === menuKey }"
            (click)="mealType = menuKey"
          >
            {{ menu[menuKey].title }}
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="mt-3">
        <p *ngIf="menu[mealType].info" class="lead mb-1">
          {{ menu[mealType].info }}
        </p>
      </div>
      <h2 class="mb-4 title">{{ menu[mealType].title }}</h2>
      <div *ngFor="let meal of menu[mealType].meals">
        <h4 class="title">{{ meal.title }}</h4>
        <p>{{ meal.text }}</p>
      </div>
    </div>
    <div
      class="w-100"
      [id]="'img' + mealType"
      appEdit
      [editInfo]="{
        id: 'img' + mealType,
        admin: admin,
        componentId: 'menu'
      }"
    >
      <img
        [src]="template.menuImgs[mealType]"
        alt="Menu"
        class="d-block m-auto"
      />
    </div>
  </div>

  <json-editor
    *ngIf="admin"
    [data]="menuCloned"
    (change)="updateMenu($event)"
  ></json-editor>
  <button class="btn btn-info" (click)="save()">Sauvegarder</button>
</div>
