<app-header
  [imgSrc]="'../../../assets/img/inner-banner.jpg'"
  [headerTitle]="'Menu'"
></app-header>

<div class="container">
  <!-- TODO: Fill routerLink -->
  <a routerLink="" class="d-block text-right text-decoration-none"
    ><h2 class="text-primary">Menu complet PDF</h2></a
  >
  <div class="row">
    <div class="col-md-4 menu__border">
      <ul>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.VIANDES }"
            (click)="mealType = _MenuType.VIANDES"
          >
            Viandes
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.SANDWICHS }"
            (click)="mealType = _MenuType.SANDWICHS"
          >
            Sandwichs
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.SALADES }"
            (click)="mealType = _MenuType.SALADES"
          >
            Salades
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.POUTINES }"
            (click)="mealType = _MenuType.POUTINES"
          >
            Poutines
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.PORCHERIES }"
            (click)="mealType = _MenuType.PORCHERIES"
          >
            Porcheries
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.POISSONS }"
            (click)="mealType = _MenuType.POISSONS"
          >
            Poissons
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.PIZZASTHICK }"
            (click)="mealType = _MenuType.PIZZASTHICK"
          >
            Pizzas à croûte épaisse
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.PIZZASTHIN }"
            (click)="mealType = _MenuType.PIZZASTHIN"
          >
            Pizza à croûte mince
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.ENTREESSHARED }"
            (click)="mealType = _MenuType.ENTREESSHARED"
          >
            Entrées à partager
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.ENTREES }"
            (click)="mealType = _MenuType.ENTREES"
          >
            Entrées
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.BURGERS }"
            (click)="mealType = _MenuType.BURGERS"
          >
            Burgers
          </button>
        </li>
        <li>
          <button
            class="btn-outline-primary mb-2"
            [ngClass]="{ active: mealType === _MenuType.BABY }"
            (click)="mealType = _MenuType.BABY"
          >
            Bébé cochon
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="mt-3">
        <p *ngIf="menu[mealType].info" class="lead mb-1">
          {{ menu[mealType].info }}
        </p>
      </div>
      <h2 class="mb-4 title">{{ menu[mealType].title }}</h2>
      <div *ngFor="let meal of menu[mealType].meals">
        <h4 class="title">{{ meal.title }}</h4>
        <p>{{ meal.text }}</p>
      </div>
    </div>
    <div class="text-center w-100">
      <img [src]="menu[mealType].img" alt="Menu" />
    </div>
  </div>
</div>
