<app-header
  *ngIf="template?.headerImgHero"
  [imgSrc]="template.headerImgHero"
  [headerTitle]="template.headerTitle"
  [headerText]="template.headerText"
  [headerInfo]="{ admin: admin, componentId: 'hébergementHotelHébert' }"
></app-header>

<div class="container">
  <div
    *ngIf="template?.description1"
    id="description1"
    appEdit
    [editInfo]="{
      id: 'description1',
      admin: admin,
      componentId: 'hébergementHotelHébert',
      data: template.description1
    }"
    [innerHTML]="template.description1 | safe: 'html'"
  ></div>
  <div
    *ngIf="template?.description2"
    id="description2"
    appEdit
    [editInfo]="{
      id: 'description2',
      admin: admin,
      componentId: 'hébergementHotelHébert',
      data: template.description2
    }"
    [innerHTML]="template.description2 | safe: 'html'"
  ></div>
  <div
    *ngIf="template?.phoneText"
    id="phoneText"
    appEdit
    [editInfo]="{
      id: 'phoneText',
      admin: admin,
      componentId: 'hébergementHotelHébert',
      data: template.phoneText
    }"
    [innerHTML]="template.phoneText | safe: 'html'"
  ></div>
  <div
    *ngIf="template?.emailText"
    id="emailText"
    appEdit
    [editInfo]="{
      id: 'emailText',
      admin: admin,
      componentId: 'hébergementHotelHébert',
      data: template.emailText
    }"
    [innerHTML]="template.emailText | safe: 'html'"
  ></div>
  <div
    *ngIf="template?.addressText"
    id="addressText"
    appEdit
    [editInfo]="{
      id: 'addressText',
      admin: admin,
      componentId: 'hébergementHotelHébert',
      data: template.addressText
    }"
    [innerHTML]="template.addressText | safe: 'html'"
  ></div>
  <div>
    <div
      class="fb-like"
      data-href="https://www.facebook.com/pages/Hebert%20Hotels/2294438730598341/"
      data-width=""
      data-layout="button"
      data-action="like"
      data-size="large"
      data-share="false"
    ></div>
    <!-- TODO: ADD INSTAGRAM -->
    <p></p>
  </div>

  <div class="mt-5">
    <div
      *ngFor="let image of template?.images; let i = index"
      class="d-flex flex-wrap w-100"
    >
      <div
        id="img{{ i }}"
        appEdit
        [editInfo]="{
          id: 'img' + i,
          admin: admin,
          componentId: 'home'
        }"
      >
        <img
          [src]="image.image"
          [alt]="image.alt"
          class="img img__responsive pointer"
          (click)="openImage(i)"
        />
      </div>
    </div>
  </div>
</div>

<ng-image-fullscreen-view
  [images]="imageObject"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()"
>
</ng-image-fullscreen-view>
