$primary: #ee8f7a;
$secondary: #f3d34a;
$info: #4059ad;
$success: #628b48;
$warning: #816e94;
$danger: #6a2e35;
$light: #ccc;
$dark: #333;
$white: white;
$black: black;

$sidebar-primary: $primary;
$sidebar-primary-text: $white;
$sidebar-light: $light;
$sidebar-light-text: $dark;
$sidebar-dark: $dark;
$sidebar-dark-text: $light;
